{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-6 col-md-offset-2">

    <h1>Categories list</h1>

    <div class="table-respovsive">
        <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Published</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.name }}</td>
                <td>{% if category.published %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('category_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('category_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('category_new') }}">Add new category</a>
        </li>
    </ul>

</div>
{% endblock %}
