{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="col-md-6 col-md-offset-2">
        <h1>Product creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.quantity) }}
        {{ form_row(form.price) }}
        {{ form_row(form.image_form) }}
        {{ form_row(form.category) }}

       {# <h3>Promotion</h3>
        <ul class="promotion">
        {% for promotion in form.promotions%}
            <li>
            {{ form_row(promotion.percent) }}
            {{ form_row(promotion.startDate) }}
            {{ form_row(promotion.endDate) }}
            </li>
            {% endfor %}
        </ul>#}
        <input type="submit" value="Create" class="btn btn-primary btn-sm"/>
    {{ form_end(form) }}
    </div>


            <a href="{{ path('product_index') }}" class="btn btn-primary btn-sm">Back to the list</a>
</div>

{% endblock %}
